<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/common.css">
    <link rel="stylesheet" href="../../static/css/regist.css">
    <link rel="stylesheet" href="../../static/css/footer.css">
</head>
<body>
<!--头部-->
<div id="reg_header">
    <div class="reg_h_center">
        <div class="reg_h_left">
            <img src="../../static/images/userName_Icon.png" alt="">
            <h4>欢迎注册</h4>
        </div>
        <div class="reg_h_right">
            <a href="index.html">请登录</a>
            <span>已有帐号</span>
        </div>
    </div>
</div>
<!--表单内容-->
<div id="reg_content">
    <div class="reg_content_left">
        <form action="#">
            <div>
                <label>用户名</label>
                <input type="text" placeholder="请输入用户名">
            </div>
            <div>
                <label>密码</label>
                <input type="text" placeholder="请输入用户名">
            </div>
            <div>
                <label>确认密码</label>
                <input type="text" placeholder="请输入用户名">
            </div>
            <div>
                <label>电话</label>
                <input type="text" placeholder="请输入用户名">
            </div>
            <div class="check_box">
                <label>验证码</label>
                <input type="text">
                <img src="../../static/images/check_code.png" alt="">
            </div>
            <div class="submit_button">
                <input type="submit" value="立即注册">
            </div>



        </form>
    </div>
    <div class="reg_content_right">
        <a href="#">
            <img src="../../static/images/potato.jpeg" alt="">
        </a>

    </div>

</div>
<!--尾部-->
<div id="footer">
    <div class="link" >
        <a href="#">关于我们</a>
        |
        <a href="#">关于我们</a>
        |
        <a href="#">关于我们</a>
        |
        <a href="#">关于我们</a>
        |
        <a href="#">关于我们</a>
        |
        <a href="#">关于我们</a>
        |
        <a href="#">关于我们</a>
        |
        <a href="#">关于我们</a>
        |
        <a href="#">关于我们</a>


    </div>
    <div class="copyright">
        Copyright 2018-2019
    </div>



</div>

</body>
</html>